* {
	background-color: yellow;
}



title {
	font-family: Verdana;
	color: Green;
	font-size: 24px;
	text-align: center;
}
img {
	margin-right: 50px;
	margin-left:50px;
	
p {
	font-family: cursive;
	font-size: 18px;
	
}
}